* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 70px;
    border: 2px solid black;
}

.hero {
    height: 300px;
    border: 2px solid black;
}

.jobs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border: 2px solid black;
}

.job {
    width: 200px;
    height: 150px;
    border: 2px solid black;
}

.footer {
    height: 60px;
    border: 2px solid black;
}
